<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Campus Live</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!--bootstrap引入-->
    <link rel="stylesheet" href="/static/source/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <!--网页 拉流SDK引入-->
    <link href="//nos.netease.com/vod163/nep.min.css" rel="stylesheet">
    <script src="//nos.netease.com/vod163/nep.min.js"></script>
    <!--自定义-->
    <link rel="stylesheet" href="/static/source/css/index_layout.css" />
    <link rel="stylesheet" href="/static/source/css/nav.css" />
    <link rel="stylesheet" href="/static/source/css/index.css" />

</head>
<body>
<div id="cover_layer" onclick="closeBox()">
</div>
<div id="login_box" class="sign_box">
    <table width="100%">
            <tr>
                <td><img width="60%" height="60%" align="left" src="static/source/img/log-reg.jpg" alt=""/></td>
                <td class="login_title" align="left"><h2>登 录</h2></td>
        <td valign="middle" align="middle">
            <a class="zhuce" href="index_do.php?fmdo=user&dopost=regnew" ><h2>注册</h2></a>
        </td>
            </tr>
    </table>

    <form method="post" action="">

        <div>
            <div>
                <br>
                <span>昵称</span>
                <span>
            <input class="ipt_user" name="username" placeholder="请输入昵称" autocomplete="on" autofocus=""/>
            </span>
            </div>
            <br>
            <div>
                <span>密 码</span>
                <span>
            <input class="ipt_pw" name="password" type="password" placeholder="请输入密码" autocomplete="on"/>
            </span>
            </div>
        </div>
        <br>

        <div class="alert_box" class="alert row_margin">
            <!--<button type="button" class="close" data-dismiss="alert"></button>-->
            <i class="alert_text"></i>
        </div>
        <div>
            <span style="display:block;">
                <div  class="login_button" onclick="login()">登 录</div>
            </span>
        </div>
        <br>
        <div class="hepanlogin"><p>请使用清水河畔账号登录</p></div>
    </form>
</div>
<div id="register_box" class="sign_box">
    <div class="login_title">注册</div>
    <hr>
    <form>
        <input class="ipt_user" name="username" placeholder="输入昵称" autocomplete="on" autofocus/>
        <input class="ipt_em" name="Email" placeholder="输入邮箱" autocomplete="on"/>
        <input class="ipt_pw" name="password" type="password" placeholder="输入密码"/>
        <input class="ipt_pw" name="con_password" type="password" placeholder="确认密码"/>
        <div class="alert_box" class="alert row_margin">
            <button type="button" class="close" data-dismiss="alert"></button>
            <i class="alert_text"></i>
        </div>
        <div class="login_button" onclick="register()">注册</div>
    </form>

    <div class="login_title2">
        <div class="line1"></div>
        <div class="lg_title2">其他登陆方式</div>
        <div class="line2"></div>
    </div>
    <div class="third_lg_control">
        <div class="third_lg lg_qq"></div>
        <div class="third_lg lg_wechat"></div>
        <div class="third_lg lg_weibo"></div>
    </div>
</div>
<div id="register_success">
    注册成功，请登录~
</div>

<div class="wrap">
    <header>
        <div class="head_nav">
            <div class="log"></div>
            <a class="home" href="/">首页</a>
            <a href="/category/all">分类</a>
            <div id="search_box">
                <input id="ipt_search">
                <input type="button" class="search_img" onclick="search()">
            </div>
            <div class="down_load">
                <span>下载</span>
                <img src="static/source/img/download.png" data-toggle="modal" data-target="#down_box">
            </div>
             <div id="login_area">
                 <a href="javascript:showLoginBox()">登陆/</a>
                 <a href="javascript:showRegisterBox()">注册</a>
                 <div class="login_in">
                     <div id="login_img" onclick="showPerInfo()"></div>
                     <span id="logout" onclick="loginOut()">登出</span>
                 </div>

             </div>
        </div>
    </header>

    <div id="app" class="wrap_box" >
        <div class="wrap_room">
            <main>
                <div class="main">
                    <video id="my_video" class="video-js vjs-fluid vjs-big-play-centered" x-webkit-airplay="allow" webkit-playsinline controls poster="/static/source/img/post_img.png" preload="auto" >
                        <!-- <source src="//nos.netease.com/vod163/demo.mp4" type="video/mp4">-->
                    </video>
                </div>
                <div class="aside" >
                    <aside-box v-for="room in asideList" :aside_img="room.cover"  @click.native="jumpRoom(room.rid)"></aside-box>
                </div>

            </main>
        </div>
        <div class="room_list_contain">
            <div class="room_list_title">
                <i class="fa fa-heart-o" aria-hidden="true"></i>
                <span>推荐直播</span>
            </div>
            <div class="room_list">
                <room-box v-for="room in roomList" :room_img="room.cover"
                :username="room.username" :category="room.category" :key="room.rid" @click.native="jumpRoom(room.rid)"></room-box>
            </div>

        </div>
      </div>
    <footer>
        <p>
            <i class="fa fa-map-marker" aria-hidden="true"></i>四川省成都市高新西区电子科技大学
            <span>&nbsp;&nbsp;</span>
            <i class="fa fa-phone" aria-hidden="true"></i>18999999999
        </p>
        <p>COPYRIGHT<span>&nbsp;&nbsp;</span>@<span>&nbsp;&nbsp;</span>LIVE-CAPUSE 工作室</p>
    </footer>
</div>
<template id="room_box">
    <div class="room_box">
        <img :src="room_img"/>
        <div class="room_des">
            <span><i class="play_num"></i>{{username}}</span>
            <span><i class="danmu_num"></i>{{category}}</span>
        </div>

    </div>
</template>

<template id="aside_box">
    <div class="aside_box">
        <img :src="aside_img"/>
    </div>
</template>
<div class="modal fade" id="down_box" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">app 下载二维码</h4>
            </div>
            <div class="modal-body">
                <div class="app_QX"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

</body>
<!--<script src="//cdn.bootcss.com/jquery/2.2.1/jquery.min.js"></script>-->
<script src="/static/source/js/vue.js"></script>
<script src="/static/source/js/vue-resource.js"></script>
<script src="/static/source/js/jquery-3.2.1.min.js"></script>
<script src="/static/source/js/bootstrap.min.js"></script>
<!--网易-->
<script src="/static/source/js/video-js/video.min.js"></script>
<script src="/static/source/js/video-js/videojs-contrib-hls.min.js"></script>
<!--自定义-->
<script src="/static/source/js/login_sign.js"></script>
<script src="/static/source/js/index.js"></script>
<!--<script src="static/source/js/main.js"></script>-->

</html>
