<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人中心</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/static/source/css/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/source/css/font-awesome/css/font-awesome.min.css">
    <!--自定义-->
    <link rel="stylesheet" href="/static/source/css/index_layout.css" />
    <link rel="stylesheet" href="/static/source/css/nav.css" />
    <link rel="stylesheet" href="/static/source/css/user_info.css" />

</head>
<body>
<div id="cover_layer" onclick="closeBox()">
</div>
<div id="login_box" class="sign_box">
    <table width="100%">
            <tr>
                <td><img width="60%" height="60%" align="left" src="/static/source/img/log-reg.jpg" alt=""/></td>
                <td class="login_title" align="left"><h2>登 录</h2></td>
        <td valign="middle" align="middle">
            <a class="zhuce" href="index_do.php?fmdo=user&dopost=regnew" ><h2>注册</h2></a>
        </td>
            </tr>
    </table>

    <form method="post" action="">
        <div>
            <div>
                <br>
                <span>昵称</span>
                <span>
            <input class="ipt_user" name="username" placeholder="请输入用户名" autocomplete="on" autofocus=""/>
            </span>
            </div>
            <br>
            <div>
                <span>密 码</span>
                <span>
            <input class="ipt_pw" name="password" type="password" placeholder="请输入密码" autocomplete="on"/>
            </span>
            </div>
        </div>
        <br>

        <div class="alert_box" class="alert row_margin">
            <!--<button type="button" class="close" data-dismiss="alert"></button>-->
            <i class="alert_text"></i>
        </div>
        <div>
            <span style="display:block;">
                <div  class="login_button" onclick="login()">登 录</div>
            </span>
        </div>
        <br>
    </form>
</div>

<div id="register_success">
    注册成功，请登录~
</div>


<div id="avatar_box" class="avatar_box">
    <a href="#" class="change">
        选择照片
        <input id="temp_avatar_file" class="file"  type="file" accept="image/png,image/gif,image/jpeg" name="file" />
    </a>
    <div class="des">仅支持JPG,GIF,PNG格式;文件小于5M</div>
    <div class="row1">
        <div id="label">
            <canvas id="get_image"></canvas>
            <p>
                <canvas id="cover_box"></canvas>
                <canvas id="edit_pic"></canvas>
            </p>
        </div>
        <div>
            <span id="show_edit"></span>
        </div>
        <div>
            <span id="show_pic"><img src=""></span>
        </div>
    </div>
    <hr>
    <div class="row2">
        <div class="btn btn_cancel" onclick="closeBox()">取消</div>
        <div class="btn bg_theme_color" id="save_button">保存</div>
    </div>
</div>

<div class="modal fade" id="down_box" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">app 下载二维码</h4>
            </div>
            <div class="modal-body">
                <div class="app_QX"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<!--<div class="wrap">-->
<header>
    <div class="head_nav">
        <div class="log"></div>
        <a class="home" href="/">首页</a>
        <a href="/category/all">分类</a>
        <div id="search_box">
            <input id="ipt_search">
            <input type="button" class="search_img" onclick="search()">
        </div>
        <div class="down_load">
            <span>下载</span>
            <img src="/static/source/img/download.png" data-toggle="modal" data-target="#down_box">
        </div>
        <div id="login_area">
            <a href="javascript:showLoginBox()">登陆/</a>
            <a href="javascript:showRegisterBox()">注册</a>
            <div class="login_in">
                <div id="login_img"></div>
                <span id="logout" onclick="loginOut()">登出</span>
            </div>
        </div>
    </div>
</header>
<div class="div">
</div>
<main id="app" >
    <h3>个人中心</h3>
    <div class="row">
        <div class="col-md-3 col-lg-3 col-xs-3" id="personAvatar" v-bind:style="{backgroundImage:'url(' + personInfo.imgAvatar + ')'}"></div>
        <div class="col-md-7 col-lg-7 col-xs-6">
            <h4  id="nickname" v-html="personInfo.username"></h4>
            <div><small class="grade">河蟹</small></div>
            <div>
                <small id="myFans" >粉丝数</small>
                <small id="fans-num" v-html="fansNum"></small>
                <small id="myAtten" >关注数:</small>
                <small id="atten-num" v-html="attenNum"></small>
            </div>
        </div>
        <div class="col-md-2 col-lg-2 col-xs-3 " ><a onclick="showAvatarBox()" class="set_avatar">设置头像</a></div>
    </div>
    <form class="list_box form-horizontal">
        <i class="fa fa-user" aria-hidden="true"></i> <h4>我的资料</h4>
        <div class="row">
            <div class="col-md-6 col-xs-12 form-group">
                <label for="telephone" class="col-md-4"> <i class="fa fa-mobile" aria-hidden="true"></i> 手机</label>
                <input  id="telephone"  class="col-md-8" v-model="personInfo.phone">
            </div>
            <div class="col-md-6 col-xs-12 form-group">
                <label for="email" class="col-md-4"><i class="fa fa-envelope-o" aria-hidden="true"></i> 邮箱</label>
                <input  id="email"  class="col-md-8" v-model="personInfo.email">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-xs-12 form-group">
                <label for="age" class="col-md-4"><i class="fa fa-id-badge" aria-hidden="true"></i> 年龄</label>
                <input  id="age"  class="col-md-8" v-model="personInfo.age">
                <!--<i class="fa fa-address-card-o" aria-hidden="true"></i> <span>认证</span>-->
            </div>
            <div class="col-md-6 col-xs-12 form-group">
                <label for="gender" class="col-md-4"> <i class="fa fa-transgender" aria-hidden="true"></i>性别</label>
                <select v-model="personInfo.sex" id="gender"  class="col-md-8">
                    <option value="woman">女</option>
                    <option value="man">男</option>
                    <option value="unknown">保密</option>
                </select>
            </div>
        </div>
        <div class="text-right"><button class="btn btn-update">修改</button></div>
    </form>
    <div class="list_box">
        <i class="fa fa-star-o" aria-hidden="true"></i> <h4>我的关注</h4>
        <div class="">
            <list-item v-for="item in  admireArray" :avatar="item.imgAvatar" :name="item.username"
                       :key="item.userID"></list-item>
        </div>
    </div>
    <div class="list_box">
        <i class="fa fa-heart-o" aria-hidden="true"></i><h4>我的粉丝</h4>
        <div class="">
            <list-item v-for="item in fanArray" :avatar="item.imgAvatar" :name="item.username"
                       :key="item.userID"></list-item>
        </div>
    </div>
    <div class="list_box">
        <i class="fa fa-rocket" aria-hidden="true"></i><h4>我的等级</h4>
    </div>
    <!--<div class="per_info" >-->
    <!--&lt;!&ndash;<div class="row nickname">&ndash;&gt;-->
    <!--&lt;!&ndash;<span>昵称：</span>&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;<div class="width" id="nickname" v-html="personInfo.username"></div>&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;  <input id="nickname" disabled>&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="row my_atten">&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;<span id="myAtten" @click="showAtten">我的关注:</span>&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;<div class="width" id="atten-num" v-html="attenNum"></div>&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;<input id="atten-num" disabled>&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="row my_fans">&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;<span id="myFans"  @click="showFans">我的粉丝</span>&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;<div class="width" id="fans-num" v-html="fansNum"></div>&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--<div class="row gender">-->
    <!--<span>性别:</span>-->
    <!--&lt;!&ndash; <input class="width" id="gender">&ndash;&gt;-->
    <!--<select v-model="personInfo.sex" class="width" id="gender" style="padding-left:20.5%">-->
    <!--<option value="woman">女</option>-->
    <!--<option value="man">男</option>-->
    <!--<option value="unknown">保密</option>-->
    <!--</select>-->
    <!--</div>-->
    <!--<div class="row age">-->
    <!--<span>年龄:</span>-->
    <!--&lt;!&ndash;<div id="age"></div>&ndash;&gt;-->
    <!--<input class="width" id="age" v-model="personInfo.age">-->
    <!--</div>-->
    <!--<div class="row telephone">-->
    <!--<span>电话:</span>-->
    <!--&lt;!&ndash; <div id="telephone"></div>&ndash;&gt;-->
    <!--<input class="width" id="telephone" v-model="personInfo.phone">-->
    <!--</div>-->
    <!--<div class="row email">-->
    <!--<span>邮箱</span>-->
    <!--&lt;!&ndash;<div id="email"></div>&ndash;&gt;-->
    <!--<input class="width" id="email" v-model="personInfo.email">-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="list_box">-->
    <!--<span class="list_title" v-html="list_title"></span>-->
    <!--<a class="btn_back" @click="goBack">返回</a>-->
    <!--<list-item v-for="item in listArray" :avatar="item.imgAvatar" :name="item.username"-->
    <!--:key="item.userID"></list-item>-->
    <!--</div>-->
    <!--<div v-if="list_status" style="width: 100%">-->
    <!---->
    <!--</div>-->
</main>
<!--</div>-->
<template id="list_item">
    <div class="list_item">
        <img :src="avatar"/>
        <div class="item_name">{{name}}</div>
    </div>
</template>
</body>
<!--<script src="//code.jquery.com/jquery-1.12.4.js"></script>-->
<script src="/static/source/js/vue.js"></script>
<script src="/static/source/js/jquery-3.2.1.min.js"></script>
<script src="/static/source/js/bootstrap.min.js"></script>
<!--网易-->
<script src="/static/source/js/video-js/video.min.js"></script>
<script src="/static/source/js/video-js/videojs-contrib-hls.min.js"></script>
<!--自定义-->
<script src="/static/source/js/login_sign.js"></script>
<script src="/static/source/js/user_info.js"></script>
<!--<script src="static/source/js/main.js"></script>-->

</html>
