a {
    transition: all .2s ease .1s; transform: rotate(45deg) translateY(200px);
}


.sign_box {
    background-color:#fff;
    border:2px solid rgba(0,0,0, 0.4);
    height:520px;
    left:50%;
    margin:-260px 0 0 -200px;
    padding:20px 50px 0px;
    position:fixed !important; /* 浮动对话框 */
    position:absolute;
    top:50%;
    width:400px;
    z-index:201;
    border-radius:5px;
    display:none;
}

.sign_box hr {
    margin: 10px -50px;
}

.sign_box .login_title {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
}

.sign_box input {
    margin-top: 20px;
    width:300px;
    height: 35px;
    line-height: 35px;
    padding-left: 34px;
    font-size: 14px;
    border: 1px solid darkgrey;
    border-radius: 3px;
    outline: medium;
}


.sign_box .ipt_user {
    background-image: url("../img/ipt_user.png");
    background-repeat:no-repeat;
}

.sign_box .ipt_em {
    background-image: url("../img/ipt_em.png");
    background-repeat:no-repeat;
}


.sign_box .ipt_pw {
    background-image: url("../img/ipt_pw.png");
    background-repeat:no-repeat;
}

.sign_box .alert_box {
    margin-top: 20px;
    display: none;
    width: 100%;
    height: auto;
    padding-top: 6px;
    padding-left: 10px;
    background-color: #cc423c;
    border-radius: 3px;

}

.sign_box .login_button {
    margin-top: 20px;
    width:300px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #1caff6;
    border-radius: 3px;
    background-color: #4aa8d8;
    font-size: 18px;
    letter-spacing: 2px;
    font-family: "微软雅黑",Arial;
    text-align: center;
    color:white;
    font-weight: 700;
    cursor: pointer;
}

.sign_box .login_title2 {
    margin-top: 20px;
}

.sign_box .login_title2 .line1 {
    width:120px;
    height:0px;
    margin-left: -50px;
    border-bottom:1px solid #eeeeee;
    float:left;
}

.sign_box .login_title2 .lg_title2 {
    float:left;
    width: 140px;
    height:5px;
    line-height:5px;
    margin: 0px 10px;
    text-align: center;
    color:darkgrey;
}

.sign_box .login_title2 .line2 {
    width:120px;
    height:0px;
    margin-right: -50px;
    border-bottom:1px solid #eeeeee;
    float:right;
}

.sign_box .third_lg_control {
    margin-top: 50px;
}

.sign_box .third_lg_control .third_lg {
    float: left;
    height: 60px;
    width: 60px;
    margin:0px 18px ;
}

.sign_box .third_lg_control .lg_qq {
    background-image: url("../img/lg_qq.png");
}

.sign_box .third_lg_control .lg_wechat {
    background-image: url("../img/lg_wechat.png");
}
.sign_box .third_lg_control .lg_weibo {
    background-image: url("../img/lg_weibo.png");
}

#register_success {
    background-color: #337ab7;
    border:2px solid #337ab7;
    color:white;
    font-size: 16px;
    font-weight: 600;
    height:30px;
    width:150px;
    line-height: 30px;
    left:50%;
    top:50%;
    margin:-15px 0 0 -75px;
    text-align: center;
    position:fixed !important; /* 浮动对话框 */
    position:absolute;
    z-index:201;
    border-radius:3px;
    display:none;
}




.head_nav {
    font-size: 24px;
    font-weight: lighter;
}

.head_nav img{
    float: left;
}
.head_nav ul {
    list-style: none;
}

.head_nav ul li {
    float: left;
}

.head_nav ul li a{
    text-decoration: none;
    color: black;
    display: block;
    padding: 0 10px;
    font-size: 20px;
    height: 60px;
    line-height: 60px;
    cursor: pointer;
}

.head_nav  ul li a:hover{
    text-decoration: none;
    background-color: #f5de48;
    color: white;
    display: block;
    padding: 0 10px;
    font-size: 20px;
}


.head_nav #search_box {
    float: left;
    margin: 15px 20px 10px 10%;
    height: 35px;
    line-height: 35px;
    background-color: #e8e8e8;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
}

#search_box #ipt_search {
    outline:medium;
    background-color: #e8e8e8;
    float: left;
    width: 150px;
    color: #222;
    font-size: 12px;
    overflow: hidden;
    height: 32px;
    line-height: 32px;
    padding: 0 42px 0px 10px;
    border: 0;
    outline:medium;

    -webkit-transition: width .55s ease;
    -moz-transition: width .55s ease;
    -ms-transition: width .55s ease;
    -o-transition: width .55s ease;
    transition: width .55s ease;
    /* display: inline-block;*/
}

#search_box #ipt_search:focus {
    width:200px;
}

#search_box .search_img {
    /* display: inline-block;*/
    outline: medium;
    background-color: #e8e8e8;
    border: 0px;
    float: left;
    background-image: url("../img/ipt_search.png");
    width: 32px;
    height: 32px;
    line-height: 32px;
    cursor: pointer;
    margin-right: 10px ;

}

.head_nav #login_area {
    float: right;
    height:60px;
    width: 150px;
}

#login_area a {
    text-decoration: none;
    font-size: 12px;
    color: black;
    text-align: center;
    cursor: pointer;
    margin-left: 40px;
}

#login_area a:hover {
    text-decoration: none;
    color: #f5de48;
    cursor: pointer;
}

#login_area #login_img {
    display: none;
    margin-left: 20px;
}

#login_area span {
    display: none;
    font-size: 12px;
    margin-left: 20px;
}

#login_area #logout:hover {
    color: #fd5d8c;
}

#login_area #logout {
    cursor: pointer;
}



#navigation .nav_btn {

    margin-top:20px;
    height: 40px;
    width: 100%;
    line-height: 35px;
    font-size: 16px;
    color: black;
    cursor: pointer;
    text-align: center;
  /*  border-bottom: 1px #eee solid;*/
    border-radius: 2px;
    background-repeat:no-repeat;
    background-position:15% 0%;
    transition: all 0.05s ease-in;
    /*background-image: url("../img/home0.png");*/
}

#navigation .nav_btn:hover {
    font-size: 15px;
    color: #f5d446;
    border-bottom: 2px #f5d446 solid;

}

#room_list_contain .room_box {
    height: 200px;
    width: 250px;
    background-color:white;
    border: 1px solid darkgrey;
    border-radius: 2px;
    margin:10px 10px;
    padding: 0px;
}

.room_box img {
    height: 75%;
    width: 100%;
    cursor: pointer;
}

.room_box h3 {
    text-align: center;
    font-size: 14px;
    color: #313131;
    margin: 5px 10px;
    cursor: pointer;
    transition: all  50ms linear;
}

.room_box h3:hover {
    color: red;
    font-size: 16px;
}

.room_box span {
    float: left;
}
.room_box .play_num {
    margin: 0px 10px -10px 30px;
    height: 16px;
    width: 16px;
    float: left;
    background-image: url("../img/play_num.png") ;
}

.room_box .danmu_num {
    margin: 0px 10px -10px 60px;
    height: 16px;
    width: 16px;
    float: left;
    background-image: url("../img/danmu_num.png") ;
}


#video_info .personal_info{
    width: 100%;
    height: 20%;
   /* display: inline-block;*/
}

.personal_info #avatar{
    float: left;
    margin-left: 10px;
}

.personal_info .per_info {
    padding: 5px 5px;
    width: 100px;
    height: 80px;
    margin-left: 20px;
    float: left;
    font-family:"Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "WenQuanYi Micro Hei", "Microsoft YaHei UI", "Microsoft YaHei", sans-serif;
}

.per_info #nickname {
    margin:10px 0px ;
    font-size: 24px;
    font-weight: bold;
}

.per_info span{
    float: left;
    font-size: 12px;
    color: #eee;
}

.per_info .atten_num {
    height: 16px;
    width: 16px;
    float: left;
    background-image: url("../img/atten_num.png") ;
}

.per_info .coll_num {
    height: 16px;
    width: 16px;
    float: left;
    background-image: url("../img/coll_num.png") ;
}

.personal_info  .like_btn {
    margin: 15px 10px;
    height: 40px;
    width: 40px;
    float: left;
    cursor: pointer;
    background-image: url("../img/like_btn.png") ;
}

#video_info .video_desc {
    padding: 10px 20px;
    width: 100%;
    height: 20%;
    font-size: 20px;
    font-family: "Microsoft YaHei", "SimSun", sans-serif;
    color: darkgrey;
    font-weight: 500;
}

.video_desc #video_title {
    color: black;
}

.video_desc span {
    margin: 5px 10px 5px 0px;
    float: left;
}


.video_desc .class {
    text-align: center;
    margin: 5px 0px;
    float: left;
    font-size: 16px;
    border: 1px solid darkgrey;
    height: 30px;
    line-height: 30px;
    width: 100px;
    border-radius: 15px;
}

#video_info .div {
    height: 10px;
    width: 100%;
    background-color: #eee;
}
#video_info .present_msg {
    margin-top: 10px;
    padding: 10px 20px;
    width: 100%;
    height: 40%;
}

#video_info .msg_box {
    width: 100%;
    height: 10%;
    border: 1px solid silver;
    overflow: hidden;
    background-color: #f5de48;
    border-radius: 3px;
    display: none;
}
