.wrap_box {
    padding-left:0;
    padding-top: 60px;
    height: 100%;
}
.wrap_room {
    width: 100%;
    height: 60vh;
    padding: 1rem 22%;
    background-image:-webkit-linear-gradient(90deg, #16aff8, #35fdf0);
    background-image:linear-gradient(90deg,#16aff8,#35fdf0);
    box-sizing: border-box;
}

.wrap_room main{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

main .main {
    padding: 0 0;
    width: 72%;
    background-color: #0e0e0e;
}

main .aside {
    margin-left: 2%;
    display: flex;
    width: 26%;
    height: 100%;
    flex-direction: column;
    background-color: #3c7e80;
    justify-content: space-between;
    padding: 0.8rem 0.8rem;
    box-sizing: border-box;
}

.vjs-modal-dialog .vjs-modal-dialog-content {
    padding: 0 0;
}

.video-js.vjs-fluid {
    /* padding-top: 50%;*/
}

.aside_box {
    width: 100%;
    height: 30%;
    background: white;
}

.aside_box img {
    cursor: pointer;
}

.room_list_contain {
    width: 100%;
    height: 20vh;
    padding: 0 22%;
    box-sizing: border-box;
    background-color: #f1eeee;
}
.room_list_title i{
   color: #06bcfb;
}

.room_list_title span {
    font-size: 0.6rem;
}

.room_list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.room_box {
    flex-direction: row;
    font-size: 0.2rem;
    width: 20%;
    height: 16vh;
    background-color:white;
    border: 1px solid darkgrey;
    border-radius: 2px;
    padding: 0px;
}

.room_box img {
    height: 75%;
    width: 100%;
    cursor: pointer;
    background: url("../img/log.png");
    background-repeat: no-repeat;
    background-size: contain;
}


.room_box .room_des {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.room_des span {
    white-space:nowrap;
    overflow:hidden;
}
.room_box .play_num,.danmu_num{
    margin: 0px 0.5vw;
    height: 1vw;
    width: 1vw;
    float: left;

}

.room_box .play_num {
    background-image: url("../img/play_num.png") ;
}
.room_box .danmu_num {

    background-image: url("../img/danmu_num.png") ;
}
