* {
    background-repeat: no-repeat;
}


img {
    max-width: 100%;
}

.head_nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20%;
}


.head_nav .log{
    height: 50px;
    width: 20vw;
    background-image: url("../img/log.png");
   /* background-repeat: no-repeat;*/
}

.head_nav .home {
    text-align: center;
    margin:  0px 10px;
    height: auto;
    border-radius: 1rem;
    background:#06bcfb ;
    color: white;
}

 #search_box {
  /*  float: left;*/
    margin: 15px 20px 10px 10%;
    height: 35px;
    line-height: 35px;
    background-color: #e8e8e8;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
}

 #ipt_search {
    outline:medium;
    background-color: #e8e8e8;
    float: left;
    width: 60px;
    color: #222;
    font-size: 12px;
    overflow: hidden;
    height: 32px;
    line-height: 32px;
    padding: 0 42px 0px 10px;
    border: 0;
    outline:medium;

    -webkit-transition: width .55s ease;
    -moz-transition: width .55s ease;
    -ms-transition: width .55s ease;
    -o-transition: width .55s ease;
    transition: all .55s ease;
    /* display: inline-block;*/
}

#ipt_search:focus {
    width:80px;
}

#search_box .search_img {
    /* display: inline-block;*/
    outline: medium;
    background-color: #e8e8e8;
    border: 0px;
    float: left;
    background-image: url("../img/ipt_search.png");
    width: 32px;
    height: 32px;
    line-height: 32px;
    cursor: pointer;
    margin-right: 10px ;

}

.down_load {
    margin-right: .8rem;
}

.app_QX {
    margin: 1rem auto;
    height: 10rem;
    width: 10rem;
    background: url('../img/QX1.png');
    background-repeat: no-repeat;
}

.nav_btn{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    height: 3rem;
    width: 100%;
    line-height: 3rem;
    font-size: 1rem;
    text-align: center;
    border-radius: 2px;
    background-position: 15% 0%;
    background-size: 3vw 2.5vw;
    transition: border 0.05s ease-in;
}

.nav_btn:hover {
    font-size: 1rem;
    color: #06bcfb;
    text-decoration: none;
    border-bottom: 2px  #06bcfb solid;

}

nav .QX {
    width: 100%;
    height: 8vw;
    background-image: url("../img/QX1.png");
    background-position: center;
    background-size: 8vw 8vw;
}

main .test {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #bebebe;
    font-size: 1.5vw;
}

