video {
    max-width: 100%; height: auto;
}

#video_play {
    margin-top: 20px;
    width: 100%;
    height: auto;
    text-align: center;
    background-color: white;

}

#video_play #my_comment_stage {
    width: 100%;
    height: auto;
    padding: 0px;
}

#video_play .video_txt {
    width: 100%;
    height: 50px;
    line-height: 50px;
    border: 1px solid darkgrey;
    -moz-box-shadow:1px 1px 1px #eee;
    -webkit-box-shadow:1px 1px 1px #eee;
    box-shadow:1px 1px 1px #eee;
    text-align: left;
    border-radius: 3px;
    font-size: 1.5rem;
    font-weight: bolder;
}

#video_info {
    width: 100%;
    height: auto;
    padding: 1.5rem 1.5rem;
    overflow: hidden;
}
