html {
    font-weight: normal;
}
.div {
    height:80px;
    width: 100%;
    background-color: #06bcfb;
}
main {
    width: 100%;
    height: 100vh;
    padding: 1rem 20% 1rem 25%;
    background-color: white;
    box-sizing: border-box;
    font-weight: 500;
    /*font-size:16px;*/
}
@media screen and (max-width:480px){
   main {
       padding: 1rem 1rem;
   }
}
.avatar_box {
    background-color:white;
    border:2px solid rgba(0,0,0, 0.4);
    box-sizing: border-box;
    height:70vh;
    left:50%;
    margin:-35vh 0 0 -22.5vw;
    padding:1rem 2rem ;
    position:fixed !important; /* 浮动对话框 */
    position:absolute;
    top:50%;
    width:55vw;
    z-index:201;
    border-radius:5px;
    display:none;
}

.change {
    position: relative;
    background: #06bcfb;
    width: 20%;
    height: 1.5rem;
    line-height: 1.5rem;
    color: #fff;
    font-size: 1rem;
    display: inline-block;
    text-align: center;
    margin-bottom: 1rem;
}



#temp_avatar_file,#card_file {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    line-height: 0;
    opacity: 0;
    height: 20px;
    opacity: 0;
    filter: alpha(opacity=0);
}

 .des {
    font-size:0.8px;
    color: #666;
    margin-bottom: 1rem;
}


#label {
    border:1px solid #ccc;
    background-color:#fff;
    text-align:left;
    height:15vw;
    width:15vw;
    position:relative;
}

#get_image {
    position:absolute;
}

#edit_pic {
    position:absolute;
    display:none;
    background:#000;
}

#cover_box {
    position: absolute;
    z-index: 9999;
    display:none;
    top:0px;
    left:0px;
}

#show_pic {
    height:10vw;
    width:10vw;
    border:2px solid #000;
    overflow:hidden;
   /* margin:0 auto;*/
    display:inline-block;
}

#avatar_box hr {
   color: #e1e1e1;
    width: 2px;
}

 .bg_theme_color {
    background-color:#42bdfe;
}


#update_success {
    z-index: 10;
    width: 100%;
    height: 90%;
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    color: black;
    background-color: white;

}
/*新的*/

h3,h4 {
    font-weight: 600;
}
.grade {
    color: #f8d069;
}
small {
    font-size: 70%;
}

#personAvatar {
width: 8vw;
height: 8vw;
margin-left: 2rem;
background-size: cover;
border-style:none;
border-width:0;
}

.set_avatar {
color: #06bcfb;
border: 2px #06bcfb solid;
cursor: pointer;
}

.list_box {
    height: auto;
    padding: 1rem 0;
}

.list_box  h4 {
    border-bottom: 2px solid #f1f1f1;
    margin-bottom: 0.5rem;
}
.list_box .row{
    margin-bottom: 1rem;
}
.list_box  > i {
    float: left;
    color:  #06bcfb;
    margin-right: 0.5rem;
}

.certify i{
    margin-right: 0.5rem;
}
.certify a {
    color:  #06bcfb;
}

.list_box .test_img {
    width: 10vh;
    height: 10vh;
    max-width: 100%;
    max-height: 100%;
    background-size: contain;
    background-image: url("../img/test.png");
}
.list_box .test_text {
    font-size: 1.2rem;
    color: #d3d3d3;
    display:flex;
    flex-direction: column;
    align-items:center;
    height: 10vh;
}

.certify_form .group {
    margin-bottom: 1rem;
}

.certify_form h3,h4 {
    margin-bottom: 0.5rem;
}

.certify_form .choose {
    position: relative;
    background: #06bcfb;
    width: 100%;
    height: 1.5rem;
    line-height: 1.5rem;
    color: #fff;
    display: inline-block;
    text-align: center;
}

#card_contain {
    border:1px solid #ccc;
    background-color:#fff;
    text-align:left;
    width: 100%;
    height:15vw;
    position:relative;
    overflow: hidden;
}

#cardImage {

}
.modal-body form {
    padding: 1rem 2rem;
}
