html,body,ul,li,ol,h1,h2,h3,h4,h5,h6{
    padding: 0px;  margin: 0px;
}
html,body{
    height: 100%;
    width: 100%;

    font-family:Arial,Helvetica,"宋体",sans-serif;
    font-weight: 700;
    font-size: 1.5vw;
}

body{
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f2f2f2;
}
#cover_layer {
    background-color:black;
    left:0;
    opacity:0.5;
    position:absolute;
    top:0;
    z-index:200;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity:0.5;
}

.sign_box {
    background-color:#fff;
    border:2px solid rgba(0,0,0, 0.4);
    height:520px;
    left:50%;
    margin:-260px 0 0 -200px;
    padding:20px 50px 0px;
    position:fixed !important; /* 浮动对话框 */
    position:absolute;
    top:50%;
    width:400px;
    z-index:201;
    border-radius:5px;
    display:none;
}

.sign_box hr {
    margin: 10px -50px;
}

.sign_box .login_title {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
}

.sign_box input {
    margin-top: 20px;
    width:300px;
    height: 35px;
    line-height: 35px;
    padding-left: 34px;
    font-size: 14px;
    border: 1px solid darkgrey;
    border-radius: 3px;
    outline: medium;
}


.sign_box .ipt_user {
    background-image: url("../img/ipt_user.png");
    background-repeat:no-repeat;
}

.sign_box .ipt_em {
    background-image: url("../img/ipt_em.png");
    background-repeat:no-repeat;
}


.sign_box .ipt_pw {
    background-image: url("../img/ipt_pw.png");
    background-repeat:no-repeat;
}

.sign_box .alert_box {
    margin-top: 20px;
    display: none;
    width: 100%;
    height: auto;
    padding-top: 6px;
    padding-left: 10px;
    background-color: #cc423c;
    border-radius: 3px;

}

.sign_box .login_button {
    margin-top: 20px;
    width:300px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #1caff6;
    border-radius: 3px;
    background-color: #4aa8d8;
    font-size: 18px;
    letter-spacing: 2px;
    font-family: "微软雅黑",Arial;
    text-align: center;
    color:white;
    font-weight: 700;
    cursor: pointer;
}

.sign_box .login_title2 {
    margin-top: 20px;
}

.sign_box .login_title2 .line1 {
    width:120px;
    height:0px;
    margin-left: -50px;
    border-bottom:1px solid #eeeeee;
    float:left;
}

.sign_box .login_title2 .lg_title2 {
    float:left;
    width: 140px;
    height:5px;
    line-height:5px;
    margin: 0px 10px;
    text-align: center;
    color:darkgrey;
}

.sign_box .login_title2 .line2 {
    width:120px;
    height:0px;
    margin-right: -50px;
    border-bottom:1px solid #eeeeee;
    float:right;
}

.sign_box .third_lg_control {
    margin-top: 50px;
}

.sign_box .third_lg_control .third_lg {
    float: left;
    height: 60px;
    width: 60px;
    margin:0px 18px ;
}

.sign_box .third_lg_control .lg_qq {
    background-image: url("../img/lg_qq.png");
}

.sign_box .third_lg_control .lg_wechat {
    background-image: url("../img/lg_wechat.png");
}
.sign_box .third_lg_control .lg_weibo {
    background-image: url("../img/lg_weibo.png");
}

.login_in {
    display: none;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

#login_img {
    width: 4.5vw;
    height: 4.5vw;
    background: url("../img/avatar.png");
    float: left;
    background-size:contain;
    margin: 0 1.5vw;

}

#login_img, #logout {
    cursor: pointer;
}

#register_success {
    background-color: #337ab7;
    border:2px solid #337ab7;
    color:white;
    font-size: 16px;
    font-weight: 600;
    height:30px;
    width:150px;
    line-height: 30px;
    left:50%;
    top:50%;
    margin:-15px 0 0 -75px;
    text-align: center;
    position:fixed !important; /* 浮动对话框 */
    position:absolute;
    z-index:201;
    border-radius:3px;
    display:none;
}

.wrap {
    max-width: 1400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0 auto;
    height: auto;
    min-height: 100%;
}

header {
    position: fixed;
    height: 60px;
    width: 100%;
    background-color: white;
    z-index: 100;
}

nav {
    position: fixed;
    top: 80px;
    width: 20%;
    height: auto;
    background-color: white;
    border-top: 5px  #06bcfb solid;
    border-radius: 2px;
}

.wrap_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 22%;
    padding-top: 80px;
}

.wrap_middle{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 100%;


}

main {
    width: 70%;

}

.room_list_contain {
    width: 100%;
    background:white;
}

 aside {
    width: 30%;
    margin-left: 10px;
    background-color:white;
}

 footer {
    background-color: #06bcfb;
}




